[Unit]
Description=pwm_manage service for systemd
After=network.target

[Service]
Type=simple
ExecStart=pwm_manage_path/run_app.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target